*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* .svg {
    width: 300px;
    height: 300px;
} */

